<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>JSPTrial_1</display-name>
	<!-- <welcome-file-list>  -->
		<security-constraint>
        <display-name>Restricted Resources</display-name>
        <web-resource-collection>
            <web-resource-name>All Resources</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>regularUser</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Allowed Resources</display-name>
        <web-resource-collection>
            <web-resource-name>AngularJS and Bootstrap</web-resource-name>
            <description/>
            <url-pattern>/AngularJS/*</url-pattern>
            <url-pattern>/Bootstrap/*</url-pattern>
            <url-pattern>/focus.gif</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/login.html?error=true</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>regularUser</role-name>
    </security-role>
</web-app>